WEBSOCKET_PORT=:8000

BUS_TOPIC=chats.1.0
BUS_URL=nats://localhost:4222
BUS_TOKEN=BusToken
BUS_TIMEOUT=1000

DB_DRIVE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=chats-master
DB_PASSWORD=chats-master
DB_NAME=chats
DB_PROTOCOL=tcp

PINBA_HOST=localhost

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=7200

SENTRY_PROTOCOL=http
SENTRY_LOGIN=b68bda202e7148248265d5fa5f41b225
SENTRY_PASSWORD=8a026d5f131a4072b408e73bc587fe44
SENTRY_URL=it2.1003.ru
SENTRY_PORT=9100
SENTRY_PROJECT_ID=4

RECONNECT_TO_SERVICE=15
SHUTDOWN_SLEEP=2
SDK_LOG=1

CRON=0
CRON_STEP=10